<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="true">
  <test thread-count="5" name="Test">
  <classes>
       <class name="com.uiFramework.companyName.bhanuProjectName.testScripts.loginPage.LoginTest">
        <methods>
        <include name="testLoginToApplication" />
   
      </methods>
       </class>
    </classes>
  </test>
</suite> <!-- Suite -->
